$headings-font-family:"Times New Roman", Times, serif;

$primary: #22A1ED;
$dark: #04040C;

$card-border-color:                 #22A1ED;
$card-cap-color:                    red;
$card-color:                        black;
$card-bg:                           #284876;